body
{
color:rgb(255, 255, 255);
background-color: pink;
}

.heading
{
width: 80%;
font-size: 30px;
}

#camara
{
border: 2px dashed black;
width: 350px;
height: 300px;
}

.name_of_object, #result_object_name, #result_object_accuracy
{
color: yellow;

}